@page
@using ArtGallery.Domain
@using Newtonsoft.Json
@using Newtonsoft.Json.Serialization
@model IndexModel

@{
    ViewData["Title"] = Model.PageOptions.Value.Title;
}

<main role="main">
    @{ int i = 0; }
    @foreach (var artist in Model.ArtCollection.Artists) {
        <section>
            <h3>@artist.Name</h3>
            @if (artist.Socials != null) {
                <ul class="socials">
                    @foreach (ArtistSocial social in artist.Socials) {
                        <li>
                            <img
                                class="socialicon"
                                alt="@social.Type"
                                src="@Model.GetSocialIcon(social)" />
                            <a href="@social.Url">@social.Url</a>
                        </li>
                    }
                </ul>
            }
            <div class="artitems">
            <ol>
                @foreach (var art in artist.ArtItems) {
                    <li>
                        <article class="artitem" data-artitem="@JsonConvert.SerializeObject(art, new JsonSerializerSettings() { ContractResolver = new CamelCasePropertyNamesContractResolver() })">
                            <img
                                loading="lazy"
                                src="@art.Path"
                                alt="Art drawn by @art.Artist.Name in @art.Date.Year: @art.Title"
                                onclick="openFullscreenView(this)"/>
                            <figure>
                                <figcaption>
                                    <time>@art.Date.ToString("O")</time><br/>
                                    @art.Title
                                </figcaption>
                            </figure>
                        </article>
                    </li>
                }
                @{ i++; }
            </ol>
            </div>
        </section>
    }
</main>

<div id="fullscreenview" class="closed fullyClosed" onclick="closeFullscreenView()">
    <div id="fsv_center">
        <figure>
            <img
                id="fsv_img"
                src=""
                alt=""/>
            <figcaption>
                <h4 id="fsv_title"></h4>
                <p>Drawn on <time id="fsv_date" datetime=""></time> by <span id="fsv_artistname"></span></p>
                <p id="fsv_desc"></p>
            </figcaption>
        </figure>
    </div>
</div>

@section Scripts {
    <script>
        document.addEventListener("keydown", function (evt) {
            const escapeKeyCode = 27;
            if (evt.keyCode === escapeKeyCode) {
                closeFullscreenView();
            }
        });
        
        let closeTimeout;
        
        function openFullscreenView(artItemImg) {
            if (closeTimeout) {
                clearTimeout(closeTimeout);
            }
            
            const artItem = JSON.parse(artItemImg.parentElement.getAttribute("data-artitem"));

            const fullscreenView = document.querySelector("#fullscreenview");

            fullscreenView.classList.remove("fullyClosed");
            fullscreenView.classList.remove("closed");
            fullscreenView.classList.add("open");
            
            const img = document.querySelector("#fsv_img");
            const title = document.querySelector("#fsv_title");
            const desc = document.querySelector("#fsv_desc");
            const artistname = document.querySelector("#fsv_artistname");
            const date = document.querySelector("#fsv_date");
            
            const artDate = new Date(artItem.date);
            img.setAttribute("src", artItem.path);
            img.setAttribute("alt", `Art drawn by ${artItem.artist.name} in ${artDate.getFullYear()}: ${artItem.title}`);
            title.innerText = artItem.title;
            desc.innerText = artItem.description;
            artistname.innerText = artItem.artist.name;
            date.setAttribute("datetime", artDate.toISOString());
            date.innerText = artDate.toLocaleDateString();
        }
        
        function closeFullscreenView() {
            const fullscreenView = document.querySelector("#fullscreenview");

            fullscreenView.classList.add("closed");
            fullscreenView.classList.remove("open");

            closeTimeout = setTimeout(() => {
                fullscreenView.classList.add("fullyClosed");
                closeTimeout = null;
            }, 300);
        }
    </script>
}
